:root {
  --background-color-hero: #f9f7fe;
  --default-font-family: "Poppins", sans-serif;
  --heading--font-family: "Playfair Display", serif;
  --main-color: #272142;
  --elementary-color: #000000;
  --btn-color: #6c63ff;
}
body {
  font-family: var(--default-font-family);
  font-weight: normal;
}
h1,
h2,
h4 {
  font-family: var(--heading--font-family);
  font-weight: 700;
}
h1 {
  font-size: 96px;
  color: var(--elementary-color);
}
h2 {
  font-family: var(--default-font-family);
  color: var(--main-color);

  font-size: 36px;
}
h3 {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 125px 0 80px 0;
  color: var(--main-color);
}
h4 {
  font-size: 64px;
  line-height: 85px;

  color: var(--elementary-color);
}
h5 {
  font-size: 48px;
  line-height: 64px;
  color: var(--elementary-color);
}
p {
  font-size: 24px;
  color: var(--main-color);
}
a {
  text-decoration: none;

  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
}
.hero {
  background-color: var(--background-color-hero);
  text-align: center;
  padding: 160px 20px;
}
.text-col {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.text-project {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .text-project {
    padding: 0;
    text-align: center;
  }
}

.btn-project {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}
.contact-link {
  background-color: var(--btn-color);
  color: #fff;
}
.wrapper {
  background-color: var(--background-color-hero);
  margin-top: 130px;
  justify-content: space-between;
}
.work-inquiry {
  padding-left: 120px;
}
.text-wrapper {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.wrapper-link {
  padding-left: 120px;
  padding: 70px 120px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--elementary-color);

  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
}
